<html>
    <head>
        <title>
            SIGN UP
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='reg.css')}}">
    </head>
    <body>
        {%if error%}
        <h1>
            {{error}}
        </h1>
        {%endif%}
        <form action="/reg" method="post">
            <input type="text" name="login" placeholder="enter login">
            <input type="password" name="password" placeholder="enter password">
            <input type="password" name="check_password" placeholder="check password">
            <button class="button" name="sign_up">
                SIGN UP
            </button>
        </form>
        <a href="/log">
        <button name="log_in">
                LOG IN
        </button>
        </a>
    </body>
</html>